<div id="footer">
    <p class="text">footer works!</p>
    <div id="divToTop" class="text">
        <button id="btnToTop" title="Go to top"><a href="#top" >Retour en haut de la page</a></button>
    </div>
    <div id="logo">
        <p class="text">logo</p>
    </div>
    <div class="container-fluid">
        <div id="menu" class="row">
            <div class="offset-2 col-sm-2"><a routerLink='/accueil' class="text">Accueil</a></div>&nbsp;
            <div class="col-sm-2"><a routerLink='/pageresultat' class="text">Recherche</a></div>
            <div class="col-sm-2"><a routerLink='/pageabout' class="text">A propos</a></div>
            <div class="col-sm-2"><a routerLink='/pagelegal' class="text">Mentions légales</a></div>
            <div class="col-sm-2"><a routerLink='/pageme' class="text">Concepteur</a></div>
        </div>
    </div>
</div>