<section class="page-section bg-light" id="zoneResultat">
    <div class="container col-sm-7">
        <div id="titre" class="text-center">
            <br />
            <br />
            <h2 class="section-heading text-uppercase ">Bienvenu sur     <img
                src="https://camillelegeay.github.io/images/logopetit.png"></h2>
            <br />
            <h4 class="section-heading">Trouverez les entreprises près de chez vous.</h4>
            <br />
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <h4 class="text-uppercase">Entreprises créées ce mois-ci </h4>
        <br />
        <div id="resultat" class="row">
            <ul *ngFor="let etablissement of shownStat" class="col-lg-4 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-text">{{etablissement.date_creation}}</div>
                        <div class="card-text">{{etablissement.code_postal}}</div>
                        <div class="card-text">{{etablissement.activite_principale}}</div>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</section>