<section class="page-section bg-light" id="zoneResultat">
    <div class="container col-sm-7">
        <div id="titre" class="text-center">
            <br />
            <br />
            <h2 class="section-heading text-uppercase ">Mentions Légales</h2>
            <br />
            <br />
        </div>
        <h4>Hébergueur</h4>
        <p>
            Société Heroku Inc.,<br />
            650 7th Street,<br />
            San Francisco, CA<br />
            (tel : +33 1 (877) 563-4311)
        </p>

        <br />
        <h4>Utilisation des données personnelles</h4>
        <p style="text-align: justify;text-justify: inter-word;">
            Les informations collectées lors de la création d'un compte sur ce site ne feront l’objet d’aucune
            utilisation commerciale, ni d'aucun traitement.
            Elles&nbsp;ne&nbsp;seront jamais communiquées à des tiers.<br />Conformément à la loi «&nbsp;informatique et
            libertés&nbsp;» du 6&nbsp;janvier&nbsp;1978 modifiée, vous bénéficiez d’un droit d’accès et de rectification
            aux informations qui vous concernent.
            Si&nbsp;vous&nbsp;souhaitez exercer ce droit, je vous invite à vous connecter et vous rendre dans le menu
            "Mon compte".<br />
            Toute&nbsp;suppression de compte entraine une supression de toutes vos données dans la base de données.
        </p>

        <br />
        <h4>Utilisation des cookies</h4>
        <p>L'ensemble de ce site web fonctionne sans cookies.</p>
        <br />
        <br />
        <br />
    </div>
</section>