<section class="page-section bg-light" id="zoneResultat">
    <div class="container col-sm-7">
        <br />
        <br />
        <div id="titre" class="text-center">
            <h2 class="section-heading text-uppercase">Bonjour {{username}}</h2>
        </div>
        <br />
        <br />
        <input type="button" value="Supprimer mon compte" mdbBtn color="default" class="waves-light" mdbWavesEffect
            (click)="delete()" />
        <br />
        <hr />

        
        <br />
        <br />
        <br />
        <h4 class="text-uppercase">Mes recherches</h4>
        <br />
    </div>
</section>