<section class="page-section bg-light" id="zoneResultat">
    <div class="container col-sm-7">
        <div id="titre" class="text-center">
            <br />
            <br />
            <h2 class="section-heading text-uppercase">Critères de recherche</h2>
            <br />
            <br />
        </div>
        <div id="recherche" class="text-center">
            <form #formLogin="ngForm" class="form-horizontal">
                <div class="form-group row">
                    <label class="col-sm-4">Code postal</label>
                    <div class="col-sm-6">
                        <input type="text" [(ngModel)]="recherche.code_postal" name="code_postal" pattern="[0-9]{5}"
                            class="form-control mb-4" placeholder="ex : 77100" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4">Ville</label>
                    <div class="col-sm-6">
                        <input type="text" [(ngModel)]="recherche.libelle_commune" name="libelle_commune"
                            class="form-control mb-4" placeholder="ex : Meaux" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4">Code NAF/APE </label>
                    <div class="col-sm-6">
                        <input type="text" [(ngModel)]="recherche.activite_principale" name="activite_principale"
                            pattern="[0-9]{2}.[0-9]{2}[A-Z]{1}" class="form-control mb-4" placeholder="ex : 37.00Z" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4">Effectifs</label>
                    <div class="col-sm-6">
                        <select id="effectif" name="tranche_effectif" [(ngModel)]="recherche.effectifs"
                            class="form-control mb-4">
                            <option value="1"> 0 à 9 salariés</option>
                            <option value="11"> 10 à 19 salariés</option>
                            <option value="12"> 20 à 49 salariés</option>
                            <option value="21"> 50 à 99 salariés</option>
                            <option value="22"> 100 à 199 salariés</option>
                            <option value="5"> 201 à 500 salariés</option>
                            <option value="6"> plus de 500 salariés</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4">Date de création</label>
                    <div class="col-sm-6">
                        <input type="text" [(ngModel)]="recherche.date_creation" name="date_creation"
                            pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" class="form-control mb-4 col-sm-4"
                            placeholder="AAAA-MM-JJ" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6 offset-sm-5">
                        &ensp;&ensp;&ensp;
                        <input style="width: 150px;" type="button" [disabled]="!formLogin.form.valid" mdbBtn
                            color="default" class="waves-light" mdbWavesEffect value="Reset"
                            (click)="resetRecherche()" />
                        &ensp;&ensp;&ensp;
                        <input style="width: 150px;" type="button" [disabled]="!formLogin.form.valid" mdbBtn
                            color="default" class="waves-light" mdbWavesEffect value="Chercher"
                            (click)="onRecherche()" />
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="showLoader">
            <br />
            <div class="container text-center">
                <img src="https://camillelegeay.github.io/gif/Spinner-grey-rlef.gif" alt="Merci de patienter ..." />
            </div>
        </div>
        <br />
        <br />
        <h4 class="text-uppercase">Résultats de la recherche : {{nbResultat}}</h4>
        <br />
        <div>
            <button type='button' id="btnExp" value='Export Excel' mdbBtn color="default" class="waves-light"
                mdbWavesEffect style="width: 170px; height: 100px;" (click)="onCreateExcel()"
                [disabled]="nbResultat>10000">
                <mdb-icon far icon="file-excel" size="2x"></mdb-icon><br />
                <label>Exporter en Excel</label>
            </button>&nbsp;&nbsp;&nbsp;
            <button type='button' id="btnSave" value='Save' mdbBtn color="default" class="waves-light" mdbWavesEffect
                style="width: 170px; height: 100px;" (click)="onSaveResearch()" [disabled]="!loginService.logged">
                <mdb-icon far icon="save" size="2x"></mdb-icon> <br />
                <label>Sauvegarder la recherche</label>
            </button>
        </div>
        <br />
        <br />
        <br />
    </div>
</section>