/* default style */
.corps {
  background-color :  yellow;
  margin-top: 50px ;
}
.header {
  position: fixed; /* Set to fixed position */
  top: 0; /* Position at the top of the page */
  width: 100%; /* Full width */
  z-index: 200;
  //padding: 10px;
  //background-color :  green;
}
.footer {
  background-color: grey;
}